<div
  *transloco="let t; prefix: 'auth'"
  class="h-screen flex flex-row justify-content-center align-items-center surface-100 p-3"
>
  <p-card class="card-width">
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="w-full flex flex-column row-gap-3"
    >
      <!-- TODO impl error messages -->

      <div class="flex flex-column row-gap-1">
        <label for="username">{{ t('username') }}</label>
        <input
          type="text"
          pInputText
          class="w-full"
          formControlName="username"
        />
      </div>

      <div class="flex flex-column row-gap-1">
        <label for="password">{{ t('password') }}</label>
        <input type="password" pInputText formControlName="password" />
      </div>

      <button pButton class="justify-content-center" type="submit">
        {{ t('logIn') }}
      </button>
    </form>
  </p-card>
</div>
