<div
  class="h-screen flex flex-row justify-content-center align-items-center surface-100 p-3"
  *transloco="let t"
>
  <p-card class="card-width">
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="w-full flex flex-column row-gap-3"
    >
      <div class="flex flex-column row-gap-1">
        <label for="username">{{ t('auth.username') }}</label>
        <p-iconField iconPosition="right">
          @if (username.pending) {
            <p-inputIcon styleClass="pi pi-spin pi-spinner" />
          } @else if (username.valid) {
            <p-inputIcon styleClass="pi pi-check text-green-500" />
          } @else if (username.dirty && username.hasError('usernameTaken')) {
            <p-inputIcon styleClass="pi pi-times text-red-500" />
          }

          <input
            type="text"
            pInputText
            formControlName="username"
            aria-describedby="username"
            class="w-full"
          />
        </p-iconField>

        <app-input-subtext
          [control]="form.get('username')!"
          [errorMessages]="[
            {
              error: 'required',
              message: t('validationError.required')
            },
            {
              error: 'usernameTaken',
              message: t('auth.validationError.usernameTaken')
            }
          ]"
          id="username-hint"
        />
      </div>

      <div class="flex flex-column row-gap-1">
        <label for="password">{{ t('auth.password') }}</label>
        <input
          type="password"
          pInputText
          formControlName="password"
          aria-describedby="password-hint"
        />

        <app-input-subtext
          [control]="form.get('password')!"
          [errorMessages]="[
            {
              error: 'required',
              message: t('validationError.required')
            }
          ]"
          id="password-hint"
        />
      </div>

      <div class="flex flex-column row-gap-1">
        <label for="passwordConfirm">{{ t('auth.passwordConfirm') }}</label>
        <input
          type="password"
          pInputText
          formControlName="passwordConfirm"
          aria-describedby="password-confirm-hint"
        />

        <app-input-subtext
          [control]="form.get('passwordConfirm')!"
          [errorMessages]="[
            {
              error: 'required',
              message: t('validationError.required')
            },
            {
              error: 'mustMatch',
              message: t('auth.validationError.confirmPassword')
            }
          ]"
          id="password-confirm-hint"
        />
      </div>

      <button pButton class="justify-content-center" type="submit">
        {{ t('auth.register') }}
      </button>

      <a routerLink="/login" class="mt-5">
        {{ t('auth.loginHint') }}
      </a>
    </form>
  </p-card>
</div>
