<div class="flex flex-column row-gap-3">
  <!-- TODO i18nize these -->

  <input
    type="text"
    pInputText
    [(ngModel)]="searchTerm"
    placeholder="Username"
  />

  @if (searchTerm.length === 0) {
    <div class="col">
      <!-- TODO show toAdd list -->
    </div>
  } @else if (searchResults.length === 0) {
    <div class="col">
      <!-- TODO show notice that there is no match -->
    </div>
  } @else {
    <div class="col">
      <!-- TODO show search results -->
    </div>
  }

  <div class="flex flex-row justify-content-end">
    <button pButton type="submit" [disabled]="toAdd.length === 0">
      Submit
    </button>
  </div>
</div>
