<div class="h-screen flex flex-row surface-100 p-3 column-gap-3">
  <div class="col-3 p-0 p-card border-round-xl flex flex-column">
    <div class="p-3 flex flex-row justify-content-between align-items-center">
      <div class="text-3xl font-bold">Chats</div>
      <p-button rounded icon="pi pi-pen-to-square" size="small" outlined />
    </div>

    <p-divider styleClass="my-0" />

    <div class="col p-0"></div>

    <p-divider styleClass="my-0" />

    <div class="p-3 flex flex-row justify-content-between align-items-center">
      <div class="text-lg font-medium">{{ username }}</div>

      <!-- TODO i18nize -->
      <button pButton size="small" (click)="logOut()">Log Out</button>
    </div>
  </div>

  <div class="col p-card border-round-xl">
    <router-outlet />
  </div>
</div>
